* {
  box-sizing: border-box;
}

body {
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin-top: 30px;
  padding-top: 20px;
  color: #fff;
  font-size: 45px;
}

canvas {
  background-color: #f0f0f0;
  display: box;
  border-radius: 10px;
}

.button {
  border: 0;
  background: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.button:hover {
  background: #222;
}

.button:focus {
  outline: 0;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #333;
  min-height: 100vh;
  width: 400px;
  padding: 15px;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}
