/* 首页样式 */
/* 版心 */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #f3f5f7;
}

/* 头部区域 */
.header {
  height: 100px;
  background-color: white;
}

.header .wrapper {
  padding-top: 29px;
  display: flex;
}

/* logo */
.logo a {
  display: block;
  width: 195px;
  height: 41px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

/* 导航 */
.nav {
  margin-left: 102px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 24px;
}

.nav li a {
  display: block;
  padding: 6px 8px;
  line-height: 27px;
  font-size: 19px;
}

.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
  width: 412px;
  height: 40px;
  display: flex;
  margin-left: 64px;
  padding-left: 19px;
  padding-right: 12px;
  background-color: #f3f5f7;
  border-radius: 20px;
}

.search input {
  flex: 1;
  border: 0;
  background-color: transparent;
  /* 去除焦点框 */
  outline: none;
}

.search input::placeholder {
  font-size: 14px;
  color: #999;
}

.search a {
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
  align-self: center;
  font-size: 0;
}

/* 用户 */
.user {
  margin-left: 32px;
  margin-top: 4px;
}

.user img {
  margin-right: 7px;
  vertical-align: middle;
}

.user span {
  font-size: 16px;
  color: #666;
}

/* banner区域 */
.banner {
  height: 420px;
  background-color: #0092cb;
}

.banner .wrapper {
  display: flex;
  justify-content: space-between;
  height: 420px;
  background-image: url(../uploads/banner.png);
}

/* 左侧导航 */
.banner .left {
  padding: 3px 20px;
  width: 191px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
  display: block;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  background: url(../images/right.png) no-repeat right center;
}

.banner .left a:hover {
  color: #00a4ff;
  background: url(../images/right-hover.png) no-repeat right center;
}

/* 右侧导航 */
.banner .right {
  margin-top: 60px;
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  border-radius: 10px;
}

.banner .right h3 {
  margin-left: 14px;
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}

.banner .right .content {
  padding: 14px;
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
}

.banner .right dl {
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.banner .right dd {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 20px;
  color: #7d7d7d;
}

.banner .right dd span {
  color: #00a4ff;
}

.banner .right .content a {
  /* margin: 14px; */
  display: block;
  width: 190px;
  height: 32px;
  background-color: #00a4ff;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin-top: 20px;
}

/* 精品推荐区域 */
.recommend {
  display: flex;
  margin-top: 11px;
  padding: 0px 20px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
}

.recommend h3 {
  font-size: 18px;
  color: #00a4ff;
  font-weight: 400;
}

.recommend ul {
  display: flex;
  flex: 1;
}

.recommend ul li a {
  padding: 0 24px;
  border-right: 1px solid #e0e0e0;
  font-size: 18px;
}

.recommend ul li:last-child a {
  border-right: 0;
}

.recommend .modify {
  font-size: 16px;
  color: #00a4ff;
}

/* 课程推荐部分-标题，可与其他部分共用 */
.course {
  margin-top: 15px;
}

.hd {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}

.hd h3 {
  font-size: 21px;
  font-weight: 400;
}

.hd .more {
  padding-right: 20px;
  background: url(../images/more.png) no-repeat right center;
  font-size: 14px;
  color: #999;
}

/* 课程内容-公共类 */
.bd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bd li {
  margin-bottom: 14px;
  width: 228px;
  height: 271px;
  background-color: pink;
}

.bd li .pic {
  height: 156px;
}

.bd li .text {
  height: 115px;
  background-color: #fff;
  padding: 20px;
}

.bd li .text h4 {
  margin-bottom: 13px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bd li .text p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.bd li .text p span {
  color: #fa6400;
}

/* 前端工程师部分 */
.hd ul {
  display: flex;
}

.hd li {
  margin-right: 60px;
  font-size: 16px;
}

.bd {
  display: flex;
  justify-content: space-between;
}

.bd .left {
  width: 228px;
}

.bd .right {
  width: 957px;
}

.bd .right .top {
  margin-bottom: 15px;
  height: 100px;
}

/* 版权部分 */
.footer {
  margin-top: 60px;
  padding-top: 60px;
  height: 275px;
  background-color: #fff;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .left {
  width: 440px;
  background-color: #fff;
}

.footer .left p {
  margin-top: 24px;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 17px;
  color: #666;
}

.footer .left .download {
  display: block;
  width: 120px;
  height: 36px;
  border: solid 1px #00a4ff;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #00a4ff;
}

.footer .right {
  display: flex;
}

.footer .right dl {
  margin-left: 130px;
}

.footer .right dt {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 23px;
}

.footer .right a {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}
